.status-filter-tabs {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
}

.status-filter-tabs .nav {
  justify-content: flex-start;
  gap: 1rem;
}

.status-filter-tabs.nav-button-group .nav-link {
  padding: 0.5rem 1.25rem;
  font-weight: 500;
  border: 1px solid var(--pgn-color-gray-vue-500);
  color: var(--pgn-color-gray-vue-500);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  font-size: 14px;
}

.status-filter-tabs .nav-link:first-child {
  border-right: 0;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 10%;
}

.status-filter-tabs .nav-link:nth-child(3) {
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
}

.status-filter-tabs .nav-link:hover {
  background-color: var(--pgn-color-gray-vue-100);
  color: var(--pgn-color-gray-vue-500);
}

.status-filter-tabs .nav-link.nav-item.active {
  background-color: var(--pgn-color-secondary-200);
  border-color: var(--pgn-color-gray-vue-500);
  color: var(--pgn-color-secondary-base);
  text-shadow: 0 0 0.5px;
  border-bottom-width: 1px;
}
