@import "assets/colors.scss";
@import "assets/variables.scss";

.pageWrapper {
  main {
    > header {
      padding: 32px 80px;
      display: flex;
    }
  }
}

header.institution-header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: $primary-dark;

  .actions {
    align-items: center;
    display: flex;
  }

  .platform-name {
    color: $color-white;
    margin: 0;
  }

  .header-left img {
    height: 1.8rem;
    margin-right: 20px;
  }

  .header-rigth {
    color: $color-white;

    .icon {
      margin-right: 30px;
      color: $color-white;
    }
  }

  .dropdown-user .dropdown-toggle,
  .dropdown-user .dropdown-toggle:focus,
  .dropdown-user .dropdown-toggle:focus-visible,
  .dropdown-user .dropdown-toggle:active,
  .dropdown-user .dropdown-toggle.btn-success:focus::before {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 0;
  }

  .dropdown-user .dropdown-toggle .icon {
    margin-right: 10px;
  }

  .dropdown-menu {
    min-width: 160px;

    .dropdown-item {
      color: $color-black;
      text-decoration: none;

      &:hover,
      &:active,
      &:focus {
        background-color: $blue-20;
      }
    }
  }
}

.institution-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

a {
  &:hover {
    text-decoration: none;
  }
}
