.loading-wrapper {
  color: var(--pgn-color-secondary-base);
  height: 269px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  color: var(--pgn-color-gray-vue-500);
}
