.container-cards {
  border: 1px solid var(--pgn-color-gray-vue-200);
  padding: 2rem;
  border-radius: var(--pgn-size-border-radius-base);
  margin-bottom: 2rem;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  background-color: var(--pgn-color-white);

  .pgn__card {
    box-shadow: none;
    min-height: 160px;

    .pgn__card-header .pgn__card-header-content {
      margin-top: 1rem;
    }

    .pgn__card-header .pgn__card-header-title-md {
      font-size: 1rem;
      text-align: center;
      font-weight: 600;
      color: var(--pgn-color-gray-800);
    }

    .pgn__card-section {
      text-align: center;
    }
  }

  .card-pink {
    background: var(--pgn-color-red-vue-100);
  }

  .card-green {
    background: var(--pgn-color-green-vue-125);
  }

  .card-yellow {
    background: var(--pgn-color-yellow-vue-050);
  }

  .card-purple {
    background: var(--pgn-color-purple-vue-100);
  }

  .card-number {
    font-size: 44px;
    color: var(--pgn-color-gray-800);
  }

  .btn-group-tpz {
    width: 45%;
    margin-bottom: 2rem;
  }
}
