.course-title {
  max-width: 700px;
}

.card-container {
  height: 100px;
  padding: 0 1.5rem;
  padding-left: 2rem;
  padding-right: 4rem;
  background-color: var(--pgn-color-white);
  border-radius: var(--pgn-size-border-radius-base);
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);

  .title {
    font-size: 15px;
    font-weight: 700;
    color: var(--pgn-color-gray-vue-500);
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .value {
    display: block;
    width: 100%;
    color: var(--pgn-color-black);
  }

  .separator {
    width: 2px;
    height: 50px;
    background-color: var(--pgn-color-gray-vue-200);
  }
}

.btntpz.button-assign.btn.btn-primary {
  height: 36px;
  background-color: var(--pgn-color-white);
  color: var(l--pgn-color-secondary-base);
  border-width: 2px;
  width: fit-content;
}

.btntpz.button-course-details.btn-primary {
  background-color: var(--pgn-color-white);
  border-color: var(--pgn-color-secondary-base);
  color: var(--pgn-color-secondary-base);

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    color: var(--pgn-color-white);
    background: var(--pgn-color-secondary-base)
  }
}

.btntpz.button-view-class.btn.btn-primary {
  height: 48px;
  width: fit-content;
}

@media screen and (max-width: 576px) {
  .card-container {
    padding: 0 1.5rem;
    height: 115px;
    padding-right: 4rem;

    .title {
      margin-bottom: 5px;
    }
  }
}
