.manage-instructors-page {
  .instructors-content {
    background-color: var(--pgn-color-white);
    border-radius: var(--pgn-size-border-radius-base);
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  }

  .empty-list {
    font-size: 1rem;
    color: var(--pgn-color-black);
  }

  .class-name {
    color: var(--pgn-color-gray-vue-500);
    text-transform: capitalize;
  }

  .course-name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
  }

  .list-instructors {
    border-radius: var(--pgn-size-border-radius-base);
    border: 1px solid var(--pgn-color-gray-vue-200);
  }

  .list-item {
    padding: 0.75rem 1rem;
    margin: 0;
    color: var(--pgn-color-black);
  }

  .list-item:not(:last-child) {
    border-bottom: 1px solid var(--pgn-color-gray-vue-200);
  }

  .pgn__data-table-status-left .test_selection_state_select_all_button,
  .pgn__data-table-status-left .test_selection_state_clear_selection_button {
    display: none;
  }

  .delete-icon {
    cursor: pointer;

    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}
