.page-content-container .pgn__data-table-container {
  overflow: visible;
}

.dropdownColumn.pgn__data-table-cell-wrap {
  overflow: visible;
}

.dropdowntpz {
  .dropdown-menu {
    min-width: 190px;

    .dropdown-item {
      color: var(--pgn-color-black);
      text-decoration: none;
      font-size: 1rem;
      padding: 0.5rem 1rem;

      &:hover {
        color: var(--pgn-color-secondary-base);
        background-color: var(--pgn-color-primary-100);
      }
    }
  }
}
