.title-instr-assign {
  padding: 1rem;
  border-bottom: 1px solid var(--pgn-color-gray-vue-200);
  margin: 0;
}

.instructor-assign-section .view-all-btn.btn-primary:not(:disabled):not(.disabled)  {
  text-decoration: underline;

  &:hover,
  &:active,
  &:focus,
  &:focus-visible {
    color: var(--pgn-color-secondary-base);
    background: transparent;
    border: none;
    outline: none;
    text-decoration: underline;
  }
}

.instructor-assign-section .empty-content {
  padding: 1rem;
  font-size: 1rem;
}

.class-card-container {
  padding: 1rem;
  border-bottom: 1px solid var(--pgn-color-gray-vue-200);

  .course-name {
    margin-bottom: 0.3rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--pgn-color-gray-vue-500);
  }

  .date {
    font-size: 1rem;
    line-height: 21px;
    color: var(--pgn-color-gray-vue-500);
  }

  .fa-calendar-day {
    margin-right: 8px;
  }

  .fa-chalkboard-user {
    margin-right: 5px;
  }
}
