@import "assets/colors.scss";
@import "assets/variables.scss";

.license-section {
  background-color: $color-white;
  padding: 2rem 0;
}

.instructor-assign-section {
  background-color: $color-white;
}

.license-section,
.instructor-assign-section {
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.16);
  border-radius: $border-radius-1;
}

.schedule-section {
  margin-bottom: 2rem;
}

.image-dashboard img {
  width: 100%;
}
