@import 'assets/colors.scss';
@import 'assets/variables.scss';

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: $font-family;
  color: $color-black;
  margin: 0;
}

button {
  font-family: $font-family;
  overflow: visible;
}

input {
  overflow: visible;
}

.pageWrapper,
.container-pages {
  background-color: $bg-main-color;
}

.pageWrapper {
  .vertical-nav {
    z-index: 10;
  }

  main {
    border-top-left-radius: 24px;
    scrollbar-gutter: auto;
    z-index: 1;
  }

  .container-pages {
    background-image: url('https://pearson-production-media.s3.amazonaws.com/IPbackground.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 55%;
    padding-bottom: 40px;
  }
}

header.vertical-nav {
  nav {
    display: block;
  }

  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  .logo {
    margin-left: 14px;

    img {
      width: 110px;
    }
  }

  .hamburger {
    display: none;
  }
}

a {
  color: $hyperlink-color;
  text-decoration: underline;

  &:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}

li {
  text-align: -webkit-match-parent;
}

.selector-institution {
  padding: 0.7rem 0;
  z-index: 2;
  position: relative;
}

@media (min-width: 1025px) {
  .pageWrapper {
    display: grid;
    min-height: 100vh;
  }

  header.vertical-nav {
    left: 0;
    position: absolute;
    width: 240px;
  }
}

@media (max-width: 700px) {
  .pageWrapper {
    .container-pages {
      padding-top: 1em;
      background-size: 90%;
    }
  }
}

@media (max-width: 880px) {
  .selector-institution {
    padding-left: 20px;
  }
}

@media (max-width: 1200px) {
  .pageWrapper {
    .container-pages {
      background-position-y: -95px;
      background-size: 70%;
    }
  }
}

.edx-cookie-banner-wrapper .edx-cookie-banner.alert {
  border-radius: 0;
  padding: 1.8rem;

  .alert-dialog {
    font-size: 1rem;
    font-family: $font-family;
    text-align: start;
    max-width: none;
    margin: 0 1rem 0;
  }

  .btn.close,
  .btn.close:hover {
    padding: 1.75rem 1.25rem;
  }
}
