@import "assets/colors.scss";
@import "assets/variables.scss";

* {
  box-sizing: border-box;
}

div {
  display: block;
}

body {
  font-family: $font-family;
  color: $color-black;
  margin: 0;
}

button {
  font-family: $font-family;
  overflow: visible;
}

input {
  overflow: visible;
}

.pageWrapper {
  .vertical-nav {
    z-index: 10;
  }

  nav {
    color: $color-white;
    width: 100%;
  }

  main {
    border-top-left-radius: 24px;
    scrollbar-gutter: auto;
    z-index: 1;
  }

  .container-pages {
    background-color: $bg-main-color;
  }
}

header.vertical-nav {
  nav {
    display: block;
  }

  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  .logo {
    margin-left: 14px;

    img {
      width: 110px;
    }
  }

  .hamburger {
    display: none;
  }
}

a {
  color: $hyperlink-color;
  text-decoration: underline;

  &:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
  }
}

li {
  text-align: -webkit-match-parent;
}

@media (min-width: 1025px) {
  .pageWrapper {
    display: grid;
    min-height: 100vh;
    padding-left: 240px;
  }

  header.vertical-nav {
    left: 0;
    position: absolute;
    width: 240px;
  }
}
