// Color variables

$color-black: #020917;
$hyperlink-color: #17897c;
$color-white: #fefefe;
$color-gray: #60646d;
$gradient-gray: rgba(247, 249, 253, 0.1);
$color-active-button: #989ba3;
$bg-main-color: white;
$gray-light: #dfe1e1;
$color-pink: #ffd0d7;
$color-green: #c4eacd;
$color-yellow: #f2f4be;
$color-purple: #e4b8d6;
$black-80: #333;
