// Color variables
$primary: #007394;
$primary-dark: #003057;
$color-black: #020917;
$black-80: #333;
$color-white: #fefefe;
$color-gray: #60646d;
$gray-70: #666666;
$gray-60: #808080;
$gray-20: #dfe1e1;
$color-pink: #ffecf0;
$color-green: #e7f7eb;
$color-yellow: #fafbe5;
$color-purple: #f4e3ee;
$blue-20: #e4faff;

$hyperlink-color: #17897c;
$color-active-button: #989ba3;
$bg-main-color: #f3f3f3;
