.page-content-container {
    border: 1px solid #dfe1e1;
    border-radius: 0.375rem;
    padding: 20px 0;
}

.filter-container > div {
    border: 1px solid #dfe1e1;
    border-radius: 0.375rem;
    padding: 1rem;
}

.pagination-table .pagination {
    justify-content: flex-end;
    padding-right: 25px;
}
