@import "assets/colors.scss";
@import "assets/variables.scss";

.custom-text-black {
  &:-webkit-any-link {
    color: $color-black;
  }
}

.page-content-container {
  .progress {
    @extend %progress-styles !optional;
  }
}

.course-progress {
  color: $gray-70;
}

.pagination-table .pagination {
  justify-content: flex-end;
  padding-right: 25px;
}

.title-page {
  padding: 20px 0;
}

.instructors-list {
  list-style-type: none;
  padding-left: 0;
}

.link {
  &:-webkit-any-link {
    color: $primary;
  }
}

.back-arrow.btn {
  color: $primary;
  padding: 0;
  font-size: 18px;

  &:hover {
    background-color: transparent;
  }
}

.epp-header {
  cursor: pointer;
}

.epp-overlay {
  background-color: $overlay-bg;
  color: $overlay-text;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  max-width: 320px;
  box-shadow: 0 4px 12px $overlay-shadow;
  z-index: 9999;
  line-height: 1.4;
}

a.epp-link {
  color: $blue-50;
  text-decoration: underline;
}

@media screen and (max-width: 880px) {
  .title-page {
    padding-left: 20px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .page-content-container {
    max-width: 680px;
    min-width: 680px;
  }
}
