@import "assets/colors.scss";
@import "assets/variables.scss";

.page-content-container {
  .progress {
    @extend %progress-styles;
  }
}

[role=table] {
  [role=cell] {
    .custom-progress {
      @extend %progress-styles;
    }
  }
}

.pagination-table .pagination {
  justify-content: flex-end;
  padding-right: 25px;
}

.title-page {
  padding: 20px 0;
}

.instructors-list {
  list-style-type: none;
  padding-left: 0;
}

.link {
  &:-webkit-any-link {
    color: $primary;
  }
}
